table{
    width: 100%;
    table-layout: fixed;
    border: 2px solid black;
    background-color: blue;
}

.villagerPic {
    width: 2vw;
}
th{
    text-align: left;
    width: 2vw;
}

td :hover{
    position: absolute;
    height: 10vh;
    width: 10vw;
    z-index: 5;
    border: 6px solid teal;
}

.primary {
    background-color: aqua;
}

.secondary {
    background-color: pink;
}