table{
    width: 100%;
    table-layout: fixed;
    border: 2px solid black;
}

.villagerPic {
    width: 2vw;
}
td{
    transition: height 2s;
    -webkit-transition: height 2s;
    z-index: -1;
}
th{
    text-align: left;
}

td :hover{
    position: absolute;
    height: 10vh;
    width: 10vw;
    z-index: 5;
    border: 6px solid teal;
}
